<div class='player-letters'>
    <table class="tg">
        <tr>
            <td class="player-tiles" ng-repeat='letter in player1Letters track by $index'>
                <div>
                    <img id='letter-{{ letter.value }}'
                         ng-class='showSelected($index)'
                         ng-src="/images/tiles/letter-{{ letter.value }}.png"
                         ng-click='selectLetter($index)' />
                   <!-- ng-class='showSelected($index)' -->
                        <!-- ng-click='scrbCtrl.selectLetter($index)' /> -->
                </div>
            </td>
        </tr>
    </table>
</div>