<div class='player-letters'>
    <table class="tg">
        <tr>
            <td class="player-tiles" ng-repeat='letter in $parent.playerLetters.list track by $index'>
                <div>
                    <img id='letter-{{ letter.value }}'
                         ng-class='$parent.showSelected($index)'
                         ng-src="/images/tiles/letter-{{ letter.value }}.png"
                         ng-click='$parent.selectLetter($index)' />
                </div>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" id='play-word' ng-click='$parent.playWord()' ng-disabled='$parent.disablePlayWord()' >Play Word</button>
    <button class="btn btn-primary" id="clear-word" ng-click="$parent.clear()" ng-disabled="$parent.inputs.length === 0">Clear</button>
    <button class="btn btn-primary" id="swap-letters" ng-click="$parent.swapLetter()" ng-disabled="$parent.inputs.selected === null">Swap Letter</button>
    <button class="btn btn-primary" id="shuffle-letters" ng-click="$parent.shuffleLetters()">Shuffle Letters</button>
</div>